@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    height: 100%;
}

body{
    background-color: #2f1d11;
    display: flex;
    padding: 4%;
    justify-content: center;
    align-items: inherit;
    height: 100%;
}

.main{
    position: relative;
    width: 75%;
    height: max-content;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #777777;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(33px);
    align-content: center;
    border-radius: 45px;
}

.hat{
    width: 80%;
    height: auto;
    padding: 4%;
    background: #C4C4C4;
    border: 2px solid #000000;
    box-sizing: border-box;
    clip-path: polygon(0 0, 84% 9%, 100% 100%, 0 71%);
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-left: 10%;

}

.hat-text{
    text-align: right;
    width: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 150%;
}
.hat-photo{
    width: 16%;
    height: 59%;
    top: 10%;
    left: 11%;
    position: absolute;
    background: url(img/car.jpg);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    z-index: 10;
}
.main-info{
    width: 1058px;
    height: 733px;

    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    clip-path: polygon(0 0, 90% 11%, 100% 100%, 16% 100%);
}

.main-text{
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 134.19%;

    text-align: right;

    color: #B10F0F;}