.asd{
    background-color: #2f1d11;
    display: flex;
    padding: 4%;
    justify-content: center;
    align-items: inherit;
}

.main{
    width: 75%;
    height: auto;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #777777;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(33px);
    align-self: center;
    align-content: center;
    border-radius: 45px;
}

.hat{

    width: 75%;
    height: 0;
    padding: 4%;
    /*background: #C4C4C4;*/
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
    border-radius: 0px;
    border-color: #c4c4c4;
    border-bottom: 60px;
    border-left: 30px;



}